@page "/projects"
@inject IStringLocalizer<Localization.Projects> Loc
@inject Services.ProjectService _projectService

<PageTitle>Projects</PageTitle>

<MudPaper Width="100%" Elevation="0">
    <MudContainer>


    
@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
<MudTabs Elevation="4" Rounded="true" Centered="true" Position="Position.Top">
    <MudTabPanel Text="Angular">
        <MudGrid Class="py-10">
            @if(angularProjects is not null)
            @foreach(var project in angularProjects)
            {
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        <ProjectCard project="project"></ProjectCard>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="MVC">
        <MudGrid Class="py-10">
            @if(mvcProjects is not null)
            @foreach(var project in mvcProjects)
            {
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        <ProjectCard project="project"></ProjectCard>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Blazor">
        <MudGrid Class="py-10">
            @if(blazorProjects is not null)
            @foreach(var project in blazorProjects)
            {
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        <ProjectCard project="project"></ProjectCard>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="React">
        <MudGrid Class="py-10">
            @if(reactProjects is not null)
            @foreach(var project in reactProjects)
            {
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full">
                        <ProjectCard project="project"></ProjectCard>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Console">
        <MudGrid Class="py-10">
            @if(consoleProjects is not null)
            @foreach(var project in consoleProjects)
            {
                <MudItem xs="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                        <ProjectCard project="project"></ProjectCard>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudTabPanel>
</MudTabs>
}
    </MudContainer>
</MudPaper>


@code {
    private List<Project>? projects;
    private List<Project>? angularProjects;
    private List<Project>? mvcProjects;
    private List<Project>? blazorProjects;
    private List<Project>? reactProjects;
    private List<Project>? consoleProjects;
    private string[] Active = new String[] {"active", "", "", "", "" };
    public int rows = 1;


    protected override async Task OnInitializedAsync()
    {
        var projectsfromJson = await _projectService.GetProjectsAsync();
        if(projectsfromJson is null)
            return;

        angularProjects = projectsfromJson
            .Where( p => p.Framework == "Angular")
            .Select
            ( p => 
                new Project(p, Loc[$"{p.Framework}{p.Id}Name"],Loc[$"{p.Framework}{p.Id}Description"])
            )
            .ToList();
        mvcProjects = projectsfromJson
            .Where( p => p.Framework == "MVC")
            .Select
            ( p => 
                new Project(p, Loc[$"{p.Framework}{p.Id}Name"],Loc[$"{p.Framework}{p.Id}Description"])
            )
            .ToList();
        blazorProjects = projectsfromJson
            .Where( p => p.Framework == "Blazor")
            .Select
            ( p => 
                new Project(p, Loc[$"{p.Framework}{p.Id}Name"],Loc[$"{p.Framework}{p.Id}Description"])
            )
            .ToList();
        reactProjects = projectsfromJson
            .Where( p => p.Framework == "React")
            .Select
            ( p => 
                new Project(p, Loc[$"{p.Framework}{p.Id}Name"],Loc[$"{p.Framework}{p.Id}Description"])
            )
            .ToList();
        consoleProjects = projectsfromJson
            .Where( p => p.Framework == "Console")
            .Select
            ( p => 
                new Project(p, Loc[$"{p.Framework}{p.Id}Name"],Loc[$"{p.Framework}{p.Id}Description"])
            )
            .ToList();
        projects = angularProjects;
        rows = (int) Math.Ceiling((double)(projects?.Count ?? 0)/2);
    }
}
